@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #21212B;
  font-family: 'Nunito Sans', sans-serif;
  display: grid;
  place-content: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70vw;
  height: 100vh;
}

nav {
  width: 70vw;
}

nav ul {
  display: flex;
  justify-content: center;
  background-color: #acacbd4a;
}

nav ul li {
  list-style: none;
  margin-left: 30px;
  padding: 10px 10px;
  color: white;

}

nav ul li:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}